*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calendar-container {
    width: 420px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(108, 122, 137, 0.45);
    backdrop-filter: blur(50px);
    
  
    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
  
      .calendar-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: #fff;
      }
  
      .calendar-navigation {
        display: flex;
        gap: 5px;
  
        button {
          background: transparent;
          border: none;
          cursor: pointer;
          font-size: 1.5rem;
          color: #007bff;
  
          &:hover {
            color: #0056b3;
          }
        }
      }
    }
  
    .calendar-days {
    align-items: center;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      width: 100%;
  
      .day {
        font-weight: bold;
        text-align: center;
        padding: 10px;
        background-color: #e9ecef;
        border-radius: 4px;
      }
  
      .empty {
        height: 30px;
      }
  
      .date {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: #ffffff;
        border-radius: 4px;
        border: 1px solid #ddd;
        cursor: pointer;
  
        &.today {
          background-color: #007bff;
          color: #ffffff;
          font-weight: bold;
        }
  
        &:hover {
          background-color: #fff;
          color: #007bff;
          border: 1px solid #007bff;

        }
      }
    }
  }
  