@import "../base/variable.scss";
@import "../base/mixin.scss";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

.header_section {
    background-color: $primary-color;

    .navbar {
        display: flex;
        justify-content: space-between;


        .navbar_brand {
            height: 70px;
            width: 70px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .navbar_links {
            display: block;

            ul {
                margin: 0px;

                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 15px;

                    &:hover {
                        transform: scale(1.05);
                        transition: ease-in-out 0.1s;
                    }

                    a {
                        color: $text-color;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                        transition: color 0.2s;

                        &:hover {
                            color: $accent-color;
                            text-shadow: 0 4px 6px $box-shadow-hover;
                        }
                    }
                }
            }
        }

        .navbar_dropdown_icon {
            display: none;
            position: relative;
            color: $text-color;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .navbar_dropdown_menu {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 999;
            height: 100%;
            width: 100%;
            background-color: $secondary-color;
            padding: 50px;

            li {
                list-style: none;
                margin-bottom: 20px;

                &:hover {
                    transform: translate(5px);
                    transition: ease-in-out 0.1s;
                }
            }

            a {
                font-size: 24px;
                color: $text-color-light;
                text-decoration: none;
                font-size: 14px;
                transition: color 0.2s;

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }

    .close_icon {
        position: absolute;
        cursor: pointer;
        top: 30px;
        z-index: 9999;
        right: 20px;

        svg {
            font-size: 14px;
            color: $text-color;
            transition: color 0.2s;

            &:hover {
                color: $accent-color;
            }
        }
    }
}



/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1300px) and (max-width: 1399px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1299px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .header_section {
        .navbar {
            .navbar_links {
                display: none;
            }

            .navbar_dropdown_icon {
                display: block;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .header_section {
        .navbar {
            .navbar_links {
                display: none;
            }

            .navbar_dropdown_icon {
                display: block;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .header_section {
        .navbar {
            .navbar_links {
                display: none;
            }

            .navbar_dropdown_icon {
                display: block;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .header_section {
        .navbar {
            .navbar_links {
                display: none;
            }

            .navbar_dropdown_icon {
                display: block;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .header_section {
        .navbar {
            .navbar_links {
                display: none;
            }

            .navbar_dropdown_icon {
                display: block;
            }
        }
    }
}