@import "../base/variable.scss";
@import "../base/mixin.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.notification_are_outer_container {
    padding: 10px;
}

.notification_card {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $text-boxes;
    border-radius: 10px;
    box-shadow: 0 4px 6px $box-shadow;
    width: 100%;
    width: 350px;
    height: 120px;
    margin-bottom: 10px;
    position: relative;

    &:hover {
        box-shadow: 0 4px 6px $box-shadow-hover;
        transform: scale(1.01);
        transition: ease-in-out 0.2s;
    }

    .notification_card_left {
        margin-right: 15px;
        height: 70px;
        width: 70px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .notification_area_right {

        h3 {
            //styleName: Bold/Bold 12;
            // font-family: Roboto;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            // text-align: left;
            margin-bottom: 7px;

        }

        p {
            // font-family: Roboto;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            // text-align: left;
            margin-bottom: 0px;
        }
    }

    .notification_cross {
        position: absolute;
        cursor: pointer;
        right: 12px;

        svg {
            font-size: 14px;
            color: $text-color;
            transition: color 0.2s;

            &:hover {
                color: $accent-color;
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .notification_card {
        width: 270px;
        height: 100px;

        .notification_card_left {
            margin-right: 10px;
            height: 45px;
            width: 45px;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .notification_cross {
            cursor: pointer;

            svg {
                font-size: 12px;
            }
        }
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1300px) and (max-width: 1399px) {
    .notification_card {
        width: 270px;
        height: 100px;

        .notification_card_left {
            margin-right: 10px;
            height: 45px;
            width: 45px;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .notification_cross {
            cursor: pointer;

            svg {
                font-size: 12px;
            }
        }
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1299px) {
    .notification_card {
        width: 220px;
        height: 100px;

        .notification_card_left {
            margin-right: 10px;
            height: 45px;
            width: 45px;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .notification_cross {
            cursor: pointer;

            svg {
                font-size: 12px;
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .notification_card {
        width: 220px;
        height: 100px;

        .notification_card_left {
            margin-right: 10px;
            height: 45px;
            width: 45px;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .notification_cross {
            cursor: pointer;

            svg {
                font-size: 12px;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .notification_card {
        display: none;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .notification_card {
        display: none;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .notification_card {
        display: none;
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .notification_card {
        display: none;
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .notification_card {
        display: none;
    }
}