@import "../base/variable.scss";
@import "../base/mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile_outer_container {
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .background_image {
        position: absolute;
        top: 0;
        width: 100%;
        object-fit: cover;
        z-index: -1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .profile_container,
    .profile_container_top {

        .profile_content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: $text-boxes;
            padding: 10px 15px;
            border-radius: 10px;
            box-shadow: 0 4px 6px $box-shadow;
            color: $text-color;

            .profile_image {
                height: 150px;
                width: 150px;
                margin-bottom: 10px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            h2 {
                // font-family: Roboto;
                font-size: 32px;
                font-weight: 700;
            }

            p {
                // font-family: Roboto;
                font-size: 16px;
                font-weight: 600;
                // text-align: left;
            }
        }


        .profile_details {
            background-color: $accent-color;
            backdrop-filter: blur(100px);
            color: $text-color-light;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px $box-shadow;
        }

        .student_details {
            padding: 15px 15px;
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: $secondary-color;
            color: $text-color-light;
            box-shadow: 0 4px 6px $box-shadow;

            &:hover {
                transform: scale(.98);
                transition: ease-in-out 0.25s;
                box-shadow: 0 4px 6px $box-shadow-hover;
            }

            h2 {
                // font-family: Roboto;
                font-size: 20px;
                font-weight: 00;
                line-height: 20px;
                text-align: center;
                margin-bottom: 20px;
                ;
            }

            p {
                // font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 15px;
            }
        }
    }

    .profile_container_top {
        gap: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1300px) and (max-width: 1399px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1299px) {
    .profile_outer_container {

        .profile_container,
        .profile_container_top {
            .profile_content {
                .profile_image {
                    height: 120px;
                    width: 120px;
                }

                h2 {
                    font-size: 28px;
                }

                p {
                    font-size: 14px;
                }
            }

            .profile_details {
                padding: 15px;
            }
        }
    }
}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .profile_outer_container {

        .profile_container,
        .profile_container_top {
            .profile_content {
                .profile_image {
                    height: 100px;
                    width: 100px;
                }

                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 12px;
                }
            }

            .profile_details {
                padding: 10px;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .profile_outer_container {

        .profile_container,
        .profile_container_top {
            .profile_content {
                .profile_image {
                    height: 100px;
                    width: 100px;
                }

                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 12px;
                }
            }

            .profile_details {
                padding: 10px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .profile_outer_container {

        .profile_container,
        .profile_container_top {
            .profile_content {
                .profile_image {
                    height: 100px;
                    width: 100px;
                }

                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 12px;
                }
            }

            .profile_details {
                padding: 10px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .profile_outer_container {

        .profile_container,
        .profile_container_top {
            .profile_content {
                .profile_image {
                    height: 100px;
                    width: 100px;
                }

                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 12px;
                }
            }

            .profile_details {
                padding: 10px;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .profile_outer_container {

        .profile_container,
        .profile_container_top {
            .profile_content {
                .profile_image {
                    height: 100px;
                    width: 100px;
                }

                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 12px;
                }
            }

            .profile_details {
                padding: 10px;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .profile_outer_container {

        .profile_container,
        .profile_container_top {
            .profile_content {
                .profile_image {
                    height: 100px;
                    width: 100px;
                }

                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 12px;
                }
            }

            .profile_details {
                padding: 10px;
            }
        }
    }
}