@import "../base/variable.scss";
@import "../base/mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer_container_sidebar {
    position: fixed;
    top: 86px;
    z-index: -1;
    bottom: 0;
    background-color: $text-color;

    .sidebar_main_menu,
    .sidebar_responsive_menu {
        width: 250px;
        top:90px;

        ul {
            padding: 0;

            li {
                list-style: none;
                padding: 10px;
                margin-bottom: 50px;

                &:hover {
                    background-color: $accent-color;
                    transform: translateX(5px);
                    transition: ease-in-out 0.1s;
                    padding: 10px;
                }

                svg {
                    margin-right: 10px;
                }

                // border-bottom: 1px solid #0c21c1;

                a {
                    text-decoration: none;
                    color: $text-color-light;
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
    }

    .sidebar_responsive_menu {
        display: none;
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .outer_container_sidebar {
        .sidebar_main_menu {
            width: 200px;

            ul {

                margin-right: 10px;

                li {
                    padding: 10px;
                    margin-bottom: 40px;
                    // border-bottom: 1px solid #0c21c1;

                    a {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1300px) and (max-width: 1399px) {
    .outer_container_sidebar {
        .sidebar_main_menu {
            width: 200px;

            ul {

                margin-right: 10px;

                li {
                    padding: 10px;
                    margin-bottom: 40px;
                    // border-bottom: 1px solid #0c21c1;

                    a {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1299px) {
    .outer_container_sidebar {
        .sidebar_main_menu {
            display: none;
        }

        .sidebar_responsive_menu {
            width: 70px;
            display: block;

            ul {
                margin: 0;
                padding: 0;

                li {
                    svg {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .outer_container_sidebar {
        .sidebar_main_menu {
            display: none;
        }

        .sidebar_responsive_menu {
            width: 70px;
            display: block;

            ul {
                text-align: center;
                margin: 0;
                padding: 0;

                li {
                    svg {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .outer_container_sidebar {
        .sidebar_main_menu {
            display: none;
        }

        .sidebar_responsive_menu {
            width: 70px;
            display: block;

            ul {
                margin: 0;
                padding: 0;
                text-align: center;


                li {
                    svg {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .outer_container_sidebar {
        .sidebar_main_menu {
            display: none;
        }

        .sidebar_responsive_menu {
            width: 70px;
            display: block;

            ul {
                margin: 0;
                padding: 0;
                text-align: center;


                li {
                    svg {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .outer_container_sidebar {
        .sidebar_main_menu {
            display: none;
        }

        .sidebar_responsive_menu {
            width: 70px;
            display: block;

            ul {
                margin: 0;
                padding: 0;
                text-align: center;


                li {
                    svg {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .outer_container_sidebar {
        .sidebar_main_menu {
            display: none;
        }

        .sidebar_responsive_menu {
            width: 70px;
            display: block;

            ul {
                margin: 0;
                padding: 0;
                text-align: center;


                li {
                    svg {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .outer_container_sidebar {
        .sidebar_main_menu {
            display: none;
        }

        .sidebar_responsive_menu {
            width: 70px;
            display: block;

            ul {
                margin: 0;
                padding: 0;
                text-align: center;


                li {
                    svg {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}