@import "../base/variable.scss";
@import "../base/mixin.scss";
F
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timetable-container {
    width: 100%;
    margin: 0 auto;
    width: 490px;
    padding: 7px;
    border: 1px solid $text-boxes;
    border-radius: 8px;
    background-color: $text-color;
    backdrop-filter: blur(50px);

    .timetable-header {
        text-align: center;
        margin-bottom: 10px;
        
        h1 {
            font-size: 20px;
            color: $text-color-light;
            font-weight: 600;
        }
    }

    .timetable-table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            border: 1px solid $text-boxes;
            padding: 5px;
            text-align: center;
            font-size: 12px;
            width: 75px;
            height: 30px;
        }

        th {
            background-color: $accent-color;
            color: $text-color-light;
        }

        tbody tr:nth-child(odd) {
            background-color: $text-color-light;
        }

        tbody tr:nth-child(even) {
            background-color: $primary-color-light;
        }
    }
}